# Python Assignment 3

# Q 1.1

# using reduce func

In [31]:
import functools
a_reduce = [1,2,3,4,5]
b_reduce = functools.reduce(lambda x,y:x*y,a)
b_reduce

120

# without using reduce function

In [28]:
def myreduce(b):
    for x in range(len(a)):
        if x>=1:
            b[0]=b[0]*b[1]
            del b[1]
    return b[0]
a=[1,2,3,4,5]

c=myreduce(a)
c

120

# Q 1.2

# using filter function

In [2]:
f_filter = [1,2,3,4,5,6,7,8,9,10]
e_filter = list(filter(lambda x: x%2==0,f_filter))
e_filter

[2, 4, 6, 8, 10]

# without using filter function

In [5]:
def myfilter(function,d):         #myfilter(function name, iterable)
    dummy=[]
    for  i in f:
        if function(i) is True:
            dummy.append(i)
        else:
            pass
    return dummy

f=[1,2,3,4,5,6,7,8,9,10]
e=myfilter(lambda x: x%2==0,f)
e

[2, 4, 6, 8, 10]

# Q2


A. ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']  

B. ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

C. [[2], [3], [4], [3], [4], [5], [4], [5], [6]] 

D. [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]] 

E. [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [6]:
#A

[i*j for i in ['x','y','z'] for j in [1,2,3,4]]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [7]:
#B

[i*j for j in [1,2,3,4] for i in ['x','y','z']]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [8]:
#C

[[i] for j in range(0,3) for i in range(2+j,5+j)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [9]:
#D

[list(range(i,i+4)) for i in range(2,6)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [10]:
#E

[(m,n) for n in range(1,4) for m in range(1,4)]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]